<h2 class="video-title"></h2>

<div class="video" data-ng-repeat="vid in videos" >
    <div data-yt-video data-play="vid" id="{{ vid.$$hashKey }}"></div>
</div>

<h3>Related videos</h3>

<a data-ng-repeat="vid in videos" data-ng-click="changeVideo(vid)" class="result-item entry" href="#{{ vid.$$hashKey }}">
    <img src="/etc/designs/ped/pei/uk/pearson-uk-new/clientlibs/images/icon-video.png">
    <span class="title">{{ vid.title }}</span>
    <span class="duration">({{ vid.duration.milliseconds | date:"mm:ss" }} min)</span>
</a>