<span class="custom-select">
    <select id="locationDrpdn">
        <option data-type="clear" value="Level" data-training-course-option> Level </option>
        <option data-ng-repeat=" facet in facets | getLooseMatch:facetFilter1 | orderBy:'formattedFacetValue'" value="{{ facet.facet }}" data-type="level" data-training-course-option>
            {{ facet.formattedFacetValue }}
        </option>
    </select>
</span>