<div data-ng-repeat="document in (filteredDocuments = (documents | resultCleaner | orderBy:'sortLevel' | filter:resultsFilter | addHeaders:'level')) | limitTo:resultsLimit" class="entry entry-training" style="display: block;">
    <div data-reset-Limits></div>
    <h2 data-ng-if="document.showHeader" class="col-md-12 col-xs-12 col-sm-12">{{ document.header }}</h2>

    <div class="non-link-item">
        <div class="details col-md-12 col-xs-12 col-sm-12">
            <div class="row">
                <h3 class="col-md-10">  {{document.title}}  </h3>
                <span class="col-md-2 doc-price"> £{{document.ukprice}}  </span>
            </div>

            <div class="description">
                <div class="part-description">
                    <dl class="row">
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Status:  </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.status }}
                            <span class="tooltip non-flip tooltip-open">?
                                <span class="tip">
                                    {{ tooltip }}
                                </span>
                            </span>
                        </dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Credits: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.credits }}</dd>
                    </dl>
                </div>
                <div id="{{ document.id }}" class="full-description">
                    <dl class="row">

                        <dt class="col-md-6 col-sm-6 col-xs-12"> Qualification Type  </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.qualificationFamily }}</dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Subject: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.qualificationSubject }}</dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Level: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.level }}</dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Size: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.qualificationSize }}</dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Status: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.status }}
                            <span class="tooltip non-flip tooltip-open">?
                                <span class="tip">
                                    {{ tooltip }}
                                </span>
                            </span>
                        </dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Credits: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.credits }}</dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Guided learning hours: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.guidedlearninghours }}</dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> QA Number: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.qannumber }}</dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> First teaching: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12">{{ document.firstteaching }}</dd>
                        <dt class="col-md-6 col-sm-6 col-xs-12"> Price: </dt>
                        <dd class="col-md-6 col-sm-6 col-xs-12"> £{{ document.ukprice }}</dd>

                    </dl>
                </div>
                <a class="lnk-ctn ctn-cta ctn-closed show-more" data-toggle-text="Show less">Show more</a>
            </div>
        </div>
    </div>
</div>