<div data-ng-repeat="document in (filteredDocuments = (documents | resultCleaner | orderBy:'-sortDate' | filter:resultsFilter )) | limitTo:resultsLimit" class="entry entry-training" style="display: block;">
    <div data-reset-Limits></div>
    <h2 data-ng-if="doc.showHeader" class="col-md-12 col-xs-12 col-sm-12">{{ doc.header }}</h2>

    <a class="result-item" data-ng-href="{{document.url}}" target="_blank">
        <div class="img-info col-md-2 col-sm-2 col-xs-12">
            <img src="{{ document.rendition }}" width="100%" />
        </div>
        <div class="text-info col-md-10 col-sm-10 col-xs-12">
            <div class="doc-title">{{ document.title }}</div>
            <div class="doc-publisher">Publisher: {{ document.category | getLooseMatch:"Publisher":true | cleanTags }}</div>
            <div class="doc-author">Author: {{ document.author }}</div>
            <div class="doc-resourcetype">{{ document.resourcetype }}</div>
            <span class="doc-isbn"><span ng-show="{{ document.ISBN!='' }}">ISBN: {{ document.ISBN }}</span></span>
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="file-info"><span class="btn btn-primary">View and order</span></div>
                <span data-wes-bind-html data-html="{{ document.ukprice }}" class="doc-price"></span>
            </div>
        </div>
    </a>

</div>
