<span class="custom-select">
    <select id="locationDrpdn">
        <option data-type="clear" value="Location" data-training-course-option> Publisher </option>
        <option data-ng-repeat=" facet in facets | getLooseMatch:facetFilter1 " value="{{ facet.facet }}" data-type="publisher" data-training-course-option>
            {{ facet.formattedFacetValue }}
        </option>
    </select>
</span>

<span class="rowlock">or</span>

<span class="custom-select">
    <select id="dateDrpdn">
        <option data-type="clear" value="Month" data-training-course-option> Price </option>
        <option data-ng-repeat=" facet in facets | getLooseMatch:facetFilter2 " value="{{ facet.facet }}" data-type="price" data-training-course-option>
            £{{ facet.facetValue }}
        </option>
    </select>
</span>