<div id="booking-form">
    <h4 data-ng-show="open">
        Book a training course
    </h4>
    <h4 data-ng-show="!open">
        Sign up for the waiting list
    </h4>

    Log in to Edexcel online to <span data-ng-if="open">book a training course </span>
    <span data-ng-if="!open">join the waiting list </span>

    <div class="row">
        <br />
        <div class="col-md-offset-2 col-md-8">
            <a data-ng-if="open"  onclick="gaEventTracker(event)" data-event-category="{{ eventTitle }}" data-event-action="Event Booking - Login" data-event-label="{{ edexcelLinkDirect }}" type="submit" target="_blank" data-ng-href="{{ edexcelLink }}" class="btn btn-primary btn-block">
                Log in to Edexcel Online
            </a>
            <a data-ng-if="!open" onclick="gaEventTracker(event)"  data-event-category="{{ eventTitle }}" data-event-action="Event Booking - Login" data-event-label="{{ edexcelLinkDirect }}" type="submit" target="_blank" data-ng-href="{{ edexcelLink }}" class="btn btn-primary btn-block">
                Join the waiting list
            </a>
        </div>
    </div>

    <br/><hr/>
    <!--  If there is enough time before the event starting to be able to request the event, then show this option -->
    <div ng-show="showCentreNo">
        <br/>
        <h4>Don't have an Edexcel Online account?</h4>
                <a type="submit" target="_blank" ng-click="openForm()" class="read-more">Complete this form</a> if you do not have an Edexcel Online account.
        </div>

    <div class="content form-content hidden">
        <div>
            <h6>All fields with (*) are required</h6>

            <form class="form-popup {{ eventId }}" id="form-id" role="form" ng-submit="sendEmail($event, eventId)" ng-controller="progressiveDisclosureThreeStep">
                <input type="hidden" name="eventcode" id="eventcode" value="{{ eventCode }}">
                <input type="hidden" name="eventdate" id="eventdate" value="{{ eventDate | date:'d MMMM yyyy' }}">
                <input type="hidden" name="eventtitle" id="eventtitle" value="{{ eventTitle }}">
                <input type="hidden" name="eventlocation" id="eventlocation" value="{{ eventLocation }}">

                <div class="form-group">
                    <label for="centrenumber" class="col-sm-4 control-label">* Centre Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="centrenumber" name="centrenumber" placeholder="" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="centrename" class="col-sm-4 control-label">* Centre Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="centrename" name="centrename" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fulladdress" class="col-sm-4 control-label">* Full Address</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="fulladdress" name="fulladdress" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-4 control-label">* Title</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="title" name="title" required>
                            <option>Mr</option>
                            <option>Mrs</option>
                            <option>Miss</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="forename" class="col-sm-4 control-label">* Forename</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="forename" name="forename" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="surname" class="col-sm-4 control-label">* Surname</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="surname" name="surname" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="jobrole" class="col-sm-4 control-label">Job role</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="jobrole" name="jobrole" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="organisation" class="col-sm-4 control-label">Organisation</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="organisation" name="organisation" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">* Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" name="email" placeholder="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="postcode" class="col-sm-4 control-label">Postcode</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="postcode" name="postcode" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-4 control-label">Telephone number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobilephone" class="col-sm-4 control-label">Mobile number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="mobilephone" name="mobilephone" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dietaryrequirements" class="col-sm-4 control-label">Dietary requirements</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="dietaryrequirements" name="dietaryrequirements" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-9 col-md-8">
                        <button type="submit" data-ng-show="open"  class="btn btn-primary btn-block">Apply now</button>
                        <button type="submit" data-ng-show="!open" class="btn btn-primary btn-block">Apply now to join waiting list</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{readMore}}
</div>