<span class="custom-select">
    <select id="locationDrpdn">
        <option data-type="clear" value="Location" data-training-course-option> Location </option>
        <option data-ng-repeat=" facet in facets | getLooseMatch:facetFilter1 " value="{{ facet.facet }}" data-type="location" data-training-course-option>
            {{ facet.formattedFacetValue }}
        </option>
    </select>
</span>

<span class="rowlock">or</span>

<span class="custom-select">
    <select id="dateDrpdn">
        <option data-type="clear" value="Month" data-training-course-option> Month </option>
        <option data-ng-repeat=" facet in facets | getLooseMatch:facetFilter2 | uniqueMonths " value="{{ facet.facetValue | date:'MMMM yyyy'}}" data-type="date" data-training-course-option>
            {{ facet.facetValue | date:'MMMM' }}
        </option>
    </select>
</span>