<div data-ng-repeat="doc in (filteredDocuments = (documents | orderBy:'-fromdate' | filter:resultsFilter | addHeaders:'fromdate' )) | limitTo:resultsLimit" class="entry" style="display: block;">
    <div data-reset-Limits></div>
    <h2 data-ng-if="doc.showHeader" class="col-md-12 col-xs-12 col-sm-12">{{ doc.header }}</h2>
    <div class="non-link-item">
        <div class="details col-md-12 col-xs-12 col-sm-12">
            <h4 class="loc-date">
                <span class="booking-method" data-ng-show="{{ doc.category | isOnlineEvent}}">Online</span>
                <span class="location" data-ng-hide="{{ doc.category | isOnlineEvent}}">{{ doc.category | getLooseMatch:"Location":true | cleanTags }}</span>
                <span class="separator">|</span>
                <span class="date-time">{{ doc.fromdate | date:'d MMMM yyyy' }}, {{ doc.starttime | getReadableTime }} - {{ doc.endtime | getReadableTime }}</span>
            </h4>
            <h3>{{doc.title}}</h3>
            <div data-ng-hide="doc.description == ''" class="description">
                <div class="part-description">{{ doc.description | getFirstSentence }}</div>
                <div data-ng-hide="doc.description == ''" id="{{ doc.id }}" class="full-description">
                    <p data-wes-bind-html html="{{ doc.description | encodeBulletPoints}}"></p>
                </div>
                <a data-ng-show="doc.description | hasSecondSentence" class="lnk-ctn ctn-cta ctn-closed show-more" data-toggle-text="Show less">Show more</a>
            </div>
        </div>
        <div class="code col-md-6 col-xs-6 col-sm-6" data-ng-if="doc.category | hasLooseMatch:'EventStatus/Open'">Code: {{ doc.eventcode }}</div>
        <div class="code col-md-6 col-xs-6 col-sm-6" data-ng-if="doc.category | hasLooseMatch:'EventStatus/Closed'">Code: {{ doc.eventcode }}</div>
        <div class="price col-md-3 col-xs-3 col-sm-3"><span data-ng-if="doc.fee == 0.0000">&pound;FREE</span><span data-ng-if="doc.fee != 0.0000">{{ doc.fee | currency:"&pound;" }}</span></div>
        <a class="book btn btn-primary col-md-3 col-xs-3 col-sm-3" href="#booking-form" data-ng-if="doc.category | hasLooseMatch:'EventStatus/Open'">
            Book now <span class="icon">&rsaquo;</span>
        </a>

        <a class="book btn btn-primary col-md-4 col-xs-4 col-sm-4 modal-link" href="#booking-form" data-ng-if="doc.category | hasLooseMatch:'EventStatus/Closed'">
            Join waiting list <span class="icon">&rsaquo;</span>
        </a>

        <div class="modal" ng-show="showModal" id="booking-form" data-training-modal data-doc="doc"></div>
    </div>
</div>
